.added-message-container {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  padding: 1rem 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  display: flex;
  gap: 1rem;
  z-index: 9999;
  background-color: white;
  border-top: 3px solid #37b174;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  animation: slideIn 0.5s ease-out forwards;
}

@keyframes slideIn {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 10px;
    opacity: 1;
  }
}

.slide-out {
  animation: slideOut 0.5s ease-in forwards;
}

@keyframes slideOut {
  from {
    top: 10px;
    opacity: 1;
  }
  to {
    top: -100px;
    opacity: 0;
  }
}

.added-message-icon {
  color: #37b174;
  width: 2.2rem;
  height: 2.2rem;
}

.added-message-text {
  font-size: 1.5rem;
}
