.btn {
  display: flex;
  align-items: center;
  width: 18rem;
  font-size: 1.6rem;
}

mat-icon.btn-icon {
  font-size: 1.7rem;
  width: 2rem;
  height: 2rem;
}

@media (max-width: 24em) {
  .btn {
    width: 15rem;
  }
}
