:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
  margin-bottom: 10rem;
  border-left: 0.5px solid rgba(107, 107, 107, 0.219);
  border-right: 0.5px solid rgba(107, 107, 107, 0.219);
}

.container {
  flex: 1;
  min-height: 0;
  margin: 0 1rem;
}

.not-found {
  font-size: 1.3rem;
  margin: 0 auto;
  margin-top: 4rem;
}

.scroll-content {
  overflow-y: auto;
  scrollbar-color: var(--mat-sys-primary) white;
  scrollbar-width: thin;
}

.scroll-content mat-expansion-panel:last-child {
  display: block;
  margin-bottom: 8rem;
}

mat-expansion-panel {
  margin-bottom: 1rem;
}

.add-contact-btn {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
  position: absolute;
  bottom: 2rem;
  right: 3rem;
  z-index: 999;
}

.group-letter {
  font-size: 2rem;
  margin: 0.8rem;
  margin-top: 2.4rem;
}

.mat-expansion-panel-header-title {
  font-size: 2rem;
  padding: 0.5rem;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0 16px !important;
  margin-bottom: 0rem;
}
